@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{@RenderSection("Styles", required: false)}
<!-- Static navbar -->
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        @*加这层Container是为了，使内容居中*@
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", htmlAttributes: new { @class = "logo", @id = "logo" })
            </div> 
            @RenderSection("Header", required: false)
        </div><!--/.container-fluid -->
    </div>
</div>

<div class="content">
    @RenderBody()
</div>
@Html.Partial("_FooterPartial")
@RenderSection("scripts", required: false)
